<h1>Listando locomotiva linha paradas</h1>

<table>
  <thead>
    <tr>
      <th>Horachegada</th>
      <th>Horapartida</th>
      <th>Tremlinha(destino)</th>
      <th>Parada(ordem)</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @locomotivalinhaparadas.each do |locomotivalinhaparada| %>
      <tr>
        <td><%= locomotivalinhaparada.horachegada %></td>
        <td><%= locomotivalinhaparada.horapartida %></td>
        <td><%= locomotivalinhaparada.tremlinha.destino %></td>
        <td><%= locomotivalinhaparada.parada.ordem %></td>
        <td><%= link_to 'Show', locomotivalinhaparada %></td>
        <td><%= link_to 'Edit', edit_locomotivalinhaparada_path(locomotivalinhaparada) %></td>
        <td><%= link_to 'Excluir', locomotivalinhaparada, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Locomotivalinhaparada', new_locomotivalinhaparada_path %>
