<h1>Listing paradas</h1>

<table>
  <thead>
    <tr>
      <th>Linha</th>
      <th>Estacao</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @paradas.each do |parada| %>
      <tr>
        <td><%= parada.linha %></td>
        <td><%= parada.estacao %></td>
        <td><%= link_to 'Show', parada %></td>
        <td><%= link_to 'Edit', edit_parada_path(parada) %></td>
        <td><%= link_to 'Excluir', parada, method: :delete, data: { confirm: 'Voce tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parada', new_parada_path %>
